# Local secret files
*.tfvars
*.tfvars.json

# Terraform runtime directories
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Packer files to ignore
*.pkrvars.hcl
*.pkrvars.json
*.auto.pkrvars.hcl
*.auto.pkrvars.json
.packer.d/plugins/
crash.log
packer_cache/
output-*/
*.box
manifest.json

# Draft files
local-draft.md
notes/